.todo {
  display: flex;

  align-items: center;

  background-color: white;

  padding: 16px 8px;
  border: 1px solid #ededed;

  transition: box-shadow 0.2s linear;

  cursor: pointer;
}

.todo__info {
  font-size: 16px;
}

.todo__info__username {
  min-width: 100px;

  color: gray;
  font-size: 20px;
}

.todo__title {
  width: 100%;
}

.completion_box {
  display: flex;
  gap: 16px;
}

.todo__status {
  display: flex;
  align-items: center;

  gap: 16px;
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999999px;

  min-width: 100px;
  height: 36px;
  background-color: #d0f4e0;
  
  color: #1ca558;
}

.notcompleted {
  min-width: 120px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999999px;

  background-color: #fdcfdf;
  color: #f43477;
}

.deletion_box {
  width: 16px;
  height: 16px;

  transition: all 0.2s linear;
}

.deletion_box:hover {
  width: 24px;
  height: 24px;
}