* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  height: 100vh;
}

button {
  cursor: pointer;
}

.button-red {
  width: 250px;
  height: 64px;

  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f31260; 
  background-color: white;

  border: 2px solid #f31260;
}

.button-green {
  width: 250px;
  height: 64px;

  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  background-color: #17c964;

  border: none;
}

.button-green--disabled {
  opacity: 0.4;
  cursor: default;
}

.button-plain {
  width: 250px;
  height: 64px;

  border: none;

  background-color: #006fee;
  color: white;

  text-transform: uppercase;
  font-size: 24px;
}