.main {
  height: 100vh;
  padding: 16px 40px 0 40px;
}

.container {
  max-width: 1128px;
}

.todos__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search_bar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.search_container {
  position: relative;
  
  display: flex;

  width: fit-content;
}

.search_container svg{
  position: absolute;

  pointer-events: none;

  width: 24px;
  height: 24px;

  right: 20px;
  top: 20px;
}

.search_input {
  font-size: 24px;

  width: 480px;
  height: 64px;
}


.no_owerflow {
  overflow: hidden;
}

.overflow {
  overflow: auto;
}